<?xml version="1.0" encoding="utf-8"?>
<config xmlns="urn:schemas-graywulf-config">
  <assemblySettings prefix="sharpvolibs" description="Virtual Observatory Libraries for .Net" company="JHU IDIES / ELTE" product=".Net VO Libs" copyright="(c) 2017 JHU IDIES / ELTE" />
  <includes>
  </includes>
</config>